{% form_theme orderForm 'bootstrap_4_layout.html.twig' %}
{#{% extends 'form_div_layout.html.twig' %} #}{#with form_label as base_form_label %}#}

{% block body %}
{#{% block form_label %}
    {{ parent() }}
    {% if required %}
        <span> * </span>
    {% endif %}
    {% if compound is empty %}
        {% set compound = null  %}

    {% endif %}
{% endblock form_label %}#}

    {{ form_start(orderForm, {'action' : path('order'), 'method' : 'POST'} ) }}
    {#{{ form_widget(orderForm) }}#}
    {{ form_row(orderForm.firstName) }}
    {{ form_row(orderForm.lastName) }}
    {{ form_row(orderForm.email) }}
    {{ form_row(orderForm.phone) }}
    {#{{ form_row(orderForm.createdAt) }}#}

    {#{% if orderForm.createdAt is not empty  %}#}
    
    {#{% endif %}#}
    {#{{ orderForm.createdAt ? orderForm.createdAt|date('Y-m-d H:i:s') : '' }}#}

    <button type="submit" class="btn btn-success">Оформить заказ</button>

    {{ form_end(orderForm) }}
{% endblock %}