{% extends 'base.html.twig' %}

{% block title %}Контакты | Nova{% endblock %}

{% block content %}

<div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Наши <strong>Контакты</strong></h2>
					{% include 'flash_messages.html.twig' %}    			    				    				
					<div id="gmap" class="contact-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3050.884793500653!2d36.18864533304313!3d49.98364555085159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1545241938755" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>			 		
			</div>
			</br>    	
    		<div class="row">  	
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Напишите нам</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
						
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
						{{ form_start(our_form) }}
				            <div class="form-group col-md-6">
								{{ form_row(our_form.name) }}
				            </div>
				            <div class="form-group col-md-6">
								{{ form_row(our_form.email) }}
				            </div>
				            <div class="form-group col-md-12">
								{{ form_row(our_form.subject) }}
				            </div>
				            <div class="form-group col-md-12">
								{{ form_row(our_form.message) }}
				            </div>
							{{ form_row(our_form._token) }}                        
				            <div class="form-group col-md-12">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Отправить">
				            </div>
							{{ form_end(our_form) }}
				        </form>
						
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Наш адрес</h2>
	    				<address>
	    					<p>Nova Inc.</p>
							<p>б-р Независимости, 18-а, г. Бровары, Киевская обл.</p>
							<p>Украина, 07400</p>
							<p>Телефон: +38 044 599 32 24</p>
							<p>Факс: +38 044 599-32-27</p>
							<p>Email:  office@brovafarma.com.ua</p>
	    				</address>
	    				<div class="social-networks">
	    					<h2 class="title text-center">Мы в соцсетях</h2>
							<ul>
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-youtube"></i></a>
								</li>
							</ul>
	    				</div>
	    			</div>
    			</div>    			
	    	</div>  
    	</div>	
    </div><!--/#contact-page-->

{% endblock %}