{% extends 'base.html.twig' %}

{% block title %}Главная | Nova{% endblock %}

{% block content %}
<div class="features_items"><!--products-->
	<h2 class="title text-center">Продукция</h2>

        {% for item in products %}

		<div class="col-sm-4">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center">
						<a href="/view/{{item.id}}"><img src="/images/products/{{ item.image }}" alt="" /></a>
						<h2>UAH {{ item.price }}</h2>
						<p>{{ item.name }}</p>
						<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
					</div>
                    {% if item.TopSale %}
                    <img src="images/home/sale.png" class="new" alt="" />
                    {% endif %}
				</div>
			</div>
		</div>

        {% endfor %}

</div><!--products-->
<div class="recommended_items"><!--top_sale-->
	<h2 class="title text-center">Топ продаж</h2>
        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
                {% set i = 0 %}
                {% for item in products %}
                    {% if item.TopSale %}	
                        {% set i = i + 1 %}
                            {% if i < 4 %}
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/view/{{item.id}}"><img src="/images/products/{{ item.image }}" alt="" /></a>
                                                <h2>UAH {{ item.price }}</h2>
                                                <p>{{ item.name }}</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>				
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    {% endif %}
                {% endfor %}
				</div>
                <div class="item">
                {% set i = 0 %}
                {% for item in products %}
                    {% if item.TopSale %}	
                        {% set i = i + 1 %}
                            {% if i > 3 %}
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/view/{{item.id}}"><img src="/images/products/{{ item.image }}" alt="" /></a>
                                                <h2>UAH {{ item.price }}</h2>
                                                <p>{{ item.name }}</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>				
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    {% endif %}
                {% endfor %}
				</div>
			</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
		</div>
</div>
{% endblock %}