<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Home | E-Shopper{% endblock %}</title>

    <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/price-range.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/animate.css') }}" rel="stylesheet">
	<link href="{{ asset('/css/main.css') }}" rel="stylesheet">
	<link href="{{ asset('/css/responsive.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{{ asset('/images/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('/images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('/images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('/images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('/images/ico/apple-touch-icon-57-precomposed.png') }}">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +38 097 104 96 96</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> yurii.sokoloff@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="logo pull-left">
							<a href="index.html"><img src="{{ asset('/images/home/logo.png') }}" alt="" /></a>
						</div>
						<div class="btn-group pull-right clearfix">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									RU
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">RU</a></li>
									<li><a href="">UA</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									UAH
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">USD</a></li>
									<li><a href="">EUR</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 clearfix">
						<div class="shop-menu clearfix pull-right">
							<ul class="nav navbar-nav">
								<!-- <li><a href=""><i class="fa fa-user"></i> Учетка</a></li> -->
								<li><a href="/register"><i class="fa fa-user"></i> Регистрация</a></li>
								<li><a href="/order"><i class="fa fa-crosshairs"></i> Заказ</a></li>
								<li><a href="/cart"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
								<li><a href="/login"><i class="fa fa-lock"></i> Войти</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Главная</a></li>
								<li class="dropdown"><a href="#">Магазин<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
										<li><a href="/order">Заказ</a></li> 
										<li><a href="/cart">Корзина</a></li> 
										<li><a href="/login">Войти</a></li> 
                                    </ul>
                                </li> 
								<li><a href="/news" class="active">Новости</a></li>
								<li><a href="/about">О компании</a></li>
								<li><a href="/contacts">Контакты</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Поиск"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<!-- <ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol> -->
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>N</span>OVA</h1>
									<h2>Оригинальные научные разработки</h2>
									<p>Предприятие поддерживает молодых ученых, изучающих ветеринарию.</p>
								</div>
								<div class="col-sm-5">
									<img src="{{ asset('/images/home/1.jpg') }}" class="girl img-responsive" alt="" />
									<!-- <img src="{{ asset('/images/home/pricing.png') }}"  class="pricing" alt="" /> -->
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>N</span>OVA</h1>
									<h2>Прозрачный и открытый бизнес</h2>
									<p> Стабильная ценовая политика, гибкая система скидок и конкурентные цены. </p>
								</div>
								<div class="col-sm-5">
									<img src="{{ asset('/images/home/2.jpg') }}" class="girl img-responsive" alt="" />
									<!-- <img src="{{ asset('/images/home/pricing.png') }}"  class="pricing" alt="" /> -->
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>N</span>OVA</h1>
									<h2>Команда профессионалов</h2>
									<p>Сертификация продукции в системе управления качества ISO 9001-2015.</p>
								</div>
								<div class="col-sm-5">
									<img src="{{ asset('/images/home/3.jpg') }}" class="girl img-responsive" alt="" />
									<!-- <img src="{{ asset('/images/home/pricing.png') }}"  class="pricing" alt="" /> -->
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>По действию</h2>
						<div class="panel-group category-products" id="accordian"><!--category-products-->
							<div class="panel panel-default">
							</div>
								<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Антибактериальные</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Противопаразитарные</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Витамины</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Кормовые добавки</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Противомаститные</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Антигельминтики</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Гепатопротекторы</a></h4>
								</div>
							</div>
						</div><!-- /category-products -->
					
						<div class="brands_products"><!--target_animals-->
							<h2>По виду животных</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right"></span>КРС</a></li>
									<li><a href="#"> <span class="pull-right"></span>Свиньи</a></li>
									<li><a href="#"> <span class="pull-right"></span>Птица</a></li>
									<li><a href="#"> <span class="pull-right"></span>Лошади</a></li>
									<li><a href="#"> <span class="pull-right"></span>Козы, овцы</a></li>
									<li><a href="#"> <span class="pull-right"></span>Собаки</a></li>
									<li><a href="#"> <span class="pull-right"></span>Кошки</a></li>
								</ul>
							</div>
						</div><!--/target_animals-->

						<div class="brands_products"><!--medicinal forms-->
							<h2>По лекформе</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right"></span>Порошки</a></li>
									<li><a href="#"> <span class="pull-right"></span>Пероральные растворы</a></li>
									<li><a href="#"> <span class="pull-right"></span>Инъекции</a></li>
									<li><a href="#"> <span class="pull-right"></span>Мази</a></li>
									<li><a href="#"> <span class="pull-right"></span>Шприцы</a></li>
								</ul>
							</div>
						</div><!-- medicinal forms -->
						
						<div class="price-range"><!--price-range-->
							<h2>По цене</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">UAH 0</b> <b class="pull-right">UAH 200</b>
							</div>
						</div><!--/price-range-->
						
						<!-- <div class="shipping text-center">shipping
							<img src="{{ asset('/images/home/shipping.jpg') }}" alt="" />
						</div>/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">

                {% block content %}

				{% endblock %}
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2018 NOVA Ltd. All rights reserved.</p>
					<p class="pull-right">Re-Designed by <span><a target="_blank" href="http://www.themeum.com">Yurii Sokolov</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
    <script src="{{ asset('/js/jquery.js') }}"></script>
	<script src="{{ asset('/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('/js/jquery.scrollUp.min.js') }}"></script>
	<script src="{{ asset('/js/price-range.js') }}"></script>
    <script src="{{ asset('/js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('/js/main.js') }}"></script>
</body>
</html>
